<div class="container pt-md-14">

      <div class="row">
      	<div class="col-4 col-md-2 text-md-right ">
      		<div class="logo">
      			<img src="{{tool.logo}}" class=" rounded" alt="...">
        	</div>
        </div>
        <div class="col-8 col-md-10">
        	<h1 class="title fw-light">{{tool.name}}</h1>
        	{% if tool.url %}<a href="{{tool.url}}">{{tool.url}}</a>{%endif%}
    	</div>
      </div>

</div>


<section id="about" class="section-bg">
    <div class="container ">
       {% if tool.description %}
       <div class="row">
       	<div class="col-12 col-md-2 text-md-right">
       		<strong>over</strong>
       	</div>
       	<div class="col-12 col-md-10">
        	{{tool.description}}
    	</div>

    	</div>
    	{% endif %}

    	{% if tool.score == -1 %}
    	<div class="row">
       	<div class="col-12 col-md-2 text-md-right">
       		<strong>resultaat</strong>
       	</div>
       	<div class="col-12 col-md-10">
       		<div class="no-result-caption">{{ content.no_result }}</div>
  			<div class="no-results"></div>
        </div>
    	</div>


    	{%else%}
    	<div class="row">
       	<div class="col-12 col-md-2 text-md-right">
       		<strong>resultaat</strong>
       	</div>
       	<div class="col-12 col-md-10">
        	


		<div class="scoreboard">
			<div class="row total">
				<div class="caption col-12 col-md-2">
					Totaal
				</div>
				<div class="col-12 col-md-8">
					<div class="grad">
							{% if tool.score > -1 %}
							<div class="indicator score-{{ (tool.score * 10)|round|int  }}" ></div>
							{% endif %}
						</div>
				</div>
			</div>
			<div class="row">
				<div class="caption col-12 col-md-2">
					Open
				</div>
				<div class="col-12 col-md-8">
					<div class="grad">
							{% if tool.score_open > -1 %}
							<div class="indicator score-{{ (tool.score_open * 10)|round|int  }}" ></div>
							{% endif %}
						</div>
				</div>
			</div>
			<div class="row">
				<div class="caption col-12 col-md-2">
					Transparant
				</div>
				<div class="col-12 col-md-8">
					<div class="grad">
							{% if tool.score_transparent > -1 %}
							<div class="indicator score-{{ (tool.score_transparent * 10)|round|int  }}" ></div>
							{% endif %}
						</div>
				</div>
			</div>
			<div class="row">
				<div class="caption col-12 col-md-2">
					Aansprakelijk
				</div>
				<div class="col-12 col-md-8">
					<div class="grad">
							{% if tool.score_accountable >-1 %}
							<div class="indicator score-{{ (tool.score_accountable * 10)|round|int  }}" ></div>
							{% endif %}
						</div>
				</div>
			</div>
			<div class="row">
				<div class="caption col-12 col-md-2">
					Souverein
				</div>
				<div class="col-12 col-md-8">
					<div class="grad">
							{% if tool.score_souvereign > -1 %}
							<div class="indicator score-{{ (tool.score_souvereign * 10)|round|int  }}" ></div>
							{% endif %}
						</div>
				</div>
			</div>
			<div class="row">
				<div class="caption col-12 col-md-2">
					Gebruikergericht
				</div>
				<div class="col-12 col-md-8">
					<div class="grad">
							{% if tool.score_usercentric > -1 %}
							<div class="indicator score-{{ (tool.score_usercentric * 10)|round|int  }}" ></div>
							{% endif %}
						</div>
				</div>
			</div>
		</div>

    	</div>


    	</div>

    	<div class="row">
       	<div class="col-12 col-md-2 text-md-right">
       		<strong>organisaties</strong>
       	</div>
       	<div class="col-12 col-md-10">
        	<p class="">De volgende organisaties hebben deze tool door de Spoelkeuken gehaald:</p>
        	<div id="toolboard">
        	<div class="row no-gutters clients-wrap clearfix wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
	            {% for org in orgs %}
	            <div class="col-lg-3 col-md-4 col-xs-6">
	                <div class="client-logo"><a href="/organisation/{{org.name}}"><img src="{{org.logo}}" class="img-fluid" alt=""></a></div>
	                <div class="tool-name">{{org.name}}</div>

	            </div>
	            {% endfor %}
	        </div>
    	</div>
    	


    	</div>
    </div>

    {% endif %}

    
	{% if stories %}
	<div class="row">
   	<div class="col-12 col-md-2 text-md-right">
   		<strong>verhalen</strong>
   	</div>
   	<div class="col-12 col-md-10">
    	 <div class="news-list row d-flex">
	 
			  <ul class="news-list  text-left">
				{% for story in stories %}
	                <li>
							<a href="{{story.url}}">{{story.title}}</a>
					</li>
	            {% endfor %}
				</ul>
			</div>
	</div>
	

	</div>
	{% endif %}



       
    </div>
</section>



